body {
  font-family: "Arial";
}
  /* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
  background-color: #66b032;
}

  /* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-bottom: -45px;
  background-color: #ffffcc;
}

  /* Add a gray background color and some padding to the footer */
footer {
  background-color: #66b032;
  
  padding: 30px;
}
.sign {
  text-align: center;
  padding: 10px;
}
form {
  margin-left: 10px;
}

/*forum*/
.Lekovito {
  background-color: beige;
}
.Recepti {
  background-color: #fafad2;
}
.Dostava {
  background-color: #90ee90;
}
form {
  margin-top: 10px;
}
input {
  border-radius: 8px;
  background-color: #ffffcc;
  border-style: none;
  padding: 5px;
  
}
/*panel efekti*/
#pan:before,
#pan:after {
  display: none;
  position: absolute;
  content: " ";
  width: 3px;
  height: 100%;
  -webkit-transform: scaleY(0);
  transition: all 0.2s ease 0.2s;
}
#pan:before {
  top: 0;
  left: 0;
  -webkit-transform-origin: 0 100%;
}
#pan:after {
  top: 0;
  right: 0;
  -webkit-transform-origin: 0 0;
}
#pan:hover {
  box-shadow: rgb(150,150,150) 15px 15px 21px;
  -webkit-transform: translateY(-10px) translateX(-10px);
  transition: all 0.3s ease 0.5s;
}
#pan:hover:after,
#pan:hover:before {
  -webkit-transform: scaleY(1);
}

